div h2 {
    font-style: italic;
}

h2+p {
    color: red;
}

.list>li {
    list-style: none;
    border-bottom: 1px solid grey;
}


/* activities 2 */

a+ul a:link {
    color: green;
}

a+ul a:visited {
    color: red;
}

a+ul a:hover {
    color: pink;
}

a+ul>li:first-child::first-letter {
    font-weight: bold;
    font-size: 120%;
}

a[title="BCIT homepage"] {
    background-color: yellow;
}


/* activities 3 */

.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {
    color: green;
}


/* activities 4 */

img {
    float: left;
}

.wraper {
    border: 1px solid red;
}

p.below {
    clear: both;
}


/* activities 5 */

.target {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: forestgreen;
}

.container {
    position: relative;
    border: 2px gray solid;
}